{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Ideas</title>
</head>
<body>
<section class="ideas">
  <div class="container">
    <h2>Ideas</h2>
    <div class="ideas-gallery">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0mEnYogpIdg" title="Idea Title 1" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/WE5ALkypKRs" title="Idea Title 2" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/THGbOetW3pM" title="Idea Title 3" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/nmA-kDjNOVo" title="Idea Title 4" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tzhyj1pKoDo" title="Idea Title 5" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/rVYjB4au-wY" title="Idea Title 6" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/IAly7hrFOpQ" title="Idea Title 7" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/A20rRhs45yg" title="Idea Title 8" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HnuAxfSxu-g" title="Idea Title 9" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ejsYhaQxV0Y" title="Idea Title 10" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>
</body>
</html>