{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Videos</title>
</head>
<body>
<section class="videos">
  <div class="container">
    <h2>Videos</h2>
    <div class="video-gallery">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Zj-pLI1mISo" title="Video Title 1"frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0Rpk_dkNwBI" title="Video Title 2" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gQzs6USgTjM" title="Video Title 3" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ngG0y-CPPxE" title="Video Title 4" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/WZTFUihUJXM" title="Video Title 5" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_5BiHsZcXPE" title="Video Title 6" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UN1BAS6BrV8" title="Video Title 7" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/IJ4Lu3HVZrc" title="Video Title 8" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/5jI7hFc5CdQ" title="Video Title 9" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7qsw9pjUrww" title="Video Title 10" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>
</body>
</html>